[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pytest = "*"

[packages]
attrs = ">=22"
beautifulsoup4 = ">=4.11"
click = ">=8"
ebooklib = ">=0.18"
furl = ">=2"
html5lib = ">1"
jinja2 = ">=3"
pendulum = ">=2"
pillow = ">=9.4.0"
pycountry = ">=22"
requests = ">=2.28"
cloudscraper = ">=1"

[requires]
python_version = "3.10"