[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
jupyter = "*"
pytest = "*"

[packages]
attrs = ">=19"
beautifulsoup4 = ">=4"
click = ">=7"
ebooklib = ">=0.17"
furl = ">=2"
html5lib = ">1"
iso639 = ">=0.1"
jinja2 = ">=2.10"
pendulum = ">=2"
pillow = ">=7.1"
requests = ">=2"
cloudscraper = ">=1"

[requires]
python_version = "3.8"

[dev-packages.prospector]
extras = [ "with_mypy", "with_pyroma", "with_vulture",]
version = "*"
