[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
attrs = ">=18"
beautifulsoup4 = "*"
click = ">=7"
furl = ">=2"
html5lib = ">1"
iso639 = ">=0.1"
pendulum = ">=2"
requests = ">=2"
EbookLib = ">=0.17"
Mako = ">=1"

[requires]
python_version = "3.7"
