-i https://pypi.org/simple
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudscraper==1.2.56
ebooklib==0.17.1
furl==2.1.0
html5lib==1.1
idna==2.10
iso639==0.1.4
jinja2==2.11.3
lxml==4.6.3
markupsafe==1.1.1
orderedmultidict==1.0.1
pendulum==2.1.2
pillow==8.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytzdata==2020.1
requests-toolbelt==0.9.1
requests==2.25.1
six==1.15.0
soupsieve==2.2; python_version >= '3.0'
urllib3==1.26.5
webencodings==0.5.1
