body {
    margin: 0.5em;
    padding: auto;
    font-size: 1em;
}

p {
    text-align: justify;
    text-indent: 1.25em;
    margin: auto;
}

div > p:nth-of-type(1) {
    text-indent: 0em;
}

h1 {
    font-variant: small-caps;
    text-align: center;
}

.header, .center {
    text-align: center;
}

.author {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 150%;
}

.source {
    margin-bottom: 1em;
}

.pagebreak {
    page-break-before: always;
}
