@mixin center {
  text-align: center;
}

@mixin no-indent {
  text-indent: 0;
}

body {
  margin: 0.5em;
  padding: 1em;
  font: {
    size: 1em;
    family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  };
}

p {
  text-align: justify;
  text-indent: 1.25em;
  margin: auto;
}

div {
  p:nth-of-type(1) {
    @include no-indent;
  }
}

h1, h2, h3 {
  font-variant: small-caps;

  @include center;

  & + p {
    @include no-indent;
  }
}

.header, .center {
  @include center;
}

.author {
  margin: 1em auto;
  font-size: 150%;
}

.source {
  margin-bottom: 1em;
}

.pagebreak {
  page-break-before: always;
}
