=center
  text-align: center
  margin: auto

=no-indent
  text-indent: 0

=offset
  margin: .5em

body
  margin: 0.5em
  padding: 1em
  font:
    size: 1em
    family: 'Source Sans Pro', Helvetica, Arial, sans-serif

p
  margin: auto
  text-align: justify
  text-indent: 1.25em

  &.center
    +no-indent

div

  p:nth-of-type(1)
    +no-indent

h1,
h2,
h3
  +center
  font-variant: small-caps

  & + p,
  & + img + p
    +no-indent

hr,
img,
.header,
.center
  +center

  & + p
    +no-indent

img
  display: block

.author
  margin: 1em auto
  font-size: 150%

.source
  margin-bottom: 1em

.pagebreak
  page-break-before: always

.verse
  +offset

  & + p
    +no-indent

  .attribution
    text-align: right

  .stanza
    margin: 0.5em auto

  .line

  .indented-line
    text-indent: 1em

.quotation
  +offset

  .quote
    margin: 1em
    text-align: left

  .attribution
    text-align: right
    font-size: 100%

  .attribution:before
    content: "— "